
/*ie9以下兼容性标签初始化*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
/* top start*/
html,td,th {
	font-size: 12px;
}
body{
	font-family: Helvetica,Tahoma,Arial,pingfang sc,hiragino sans gb,heiti sc,microsoft yahei,wenquanyi micro hei,sans-serif;}

img, div {behavior: url(//www.chinaszsh.com/images/iepng/iepngfix.htc);}

body, div,img,dl, dt, p, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, blockquote {
	padding:0px;
	margin:0px;
	color:#f7f7f7;}

ul {
	max-width:100%;}

h1 {
	font-size:2.1rem;
	font-weight:bolder;
	width:100%;
	padding:0px;
	margin:0px;
	color:#f7f7f7;
    text-align: center;
    margin-top: 30px;
}
table {
    max-width: 100%;}
textarea, input {
	max-width:100%;
	padding:0px;
	margin:0px;
	color:#515a81;
}

	
.FontRed{
	color:#FF0000;}
h3{
	font-size:1.17rem;}

li{
	list-style-type:none;}

img{border:0;
    width:100%;
    -ms-interpolation-mode: bicubic;
    text-align: center;
	}
.gray{
	color:#666666;}
a{color:#FFFFFF;text-decoration:none;}
a:hover {text-decoration:none;color:#196ba7;}
a:active{text-decoration:none;}

.LineLink a{text-decoration:underline;}
.LineLink a:hover {text-decoration:none;color:#196ba7;}

.ColorLink a {color:#196ba7;}
.ColorLink a:hover {color:#196ba7;}

.WidthTab{
	width:10px;
	height:1px;
	float:left;}
.WidthTab2{
	width:20px;
	height:1px;
	float:left;}	
.HeightTab{
	height:10px;
	width:1px;
	overflow:hidden;}
.HeightTab2{
	height:20px;
	width:1px;
	overflow:hidden;}

p{
	line-height:180%;
	font-size:1.1rem;
    color:#b5b5b5;
	}

.ListDate{
	color:#666666;
	 }

#wrapper{
	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-attachment:fixed; 
	webkit-background-size:cover; 
	-moz-background-size:cover; 
	-o-background-size:cover; 
	background-size:cover; 
	max-width:100%;
	overflow: hidden;
	margin:auto;}
#wrapper #head  .TopInfoBG{
	background:#1b1b1b;
	height:25px;
	overflow:Hidden;
	border-bottom:1px solid #1b1b1b;
	}
@media only screen and (max-width: 750px){
#wrapper #head  .TopInfoBG{
	height:35px;!important;}
#wrapper #head  .TopInfo .link{
	line-height:35px!important;}
#wrapper #head  .TopInfo  a{
	font-size:1.3rem!important;}
	}
#wrapper #head  .TopInfo{
	margin:auto;
	max-width:100%;
	} 
#wrapper #head  .TopInfo .link{
	line-height:25px;
	float:right;
	color:#cecece;}
#wrapper #head  .TopInfo .welcome{
	line-height:25px;
	float:left;
	color:#cecece;}
@media only screen and (max-width: 850px){
#wrapper #head  .TopInfo .welcome{
	display: none!important;}
	}
#wrapper #head  .TopInfo  a{
	color:#cecece;}	

#wrapper #head .top{
	width:100%;
	height:130px;
	font-size:1rem;
	background:#1b1b1b;
	}
#wrapper #head .top .TopLogo{
	margin:auto;
	max-width:100%;
	padding-top:10px;
	overflow:visible;
	display: flex;
    justify-content: space-around;
	flex-wrap: wrap;
	}
#wrapper #head .top .TopLogo .logo{
}
#wrapper #head .top .TopLogo .logo img {
	width:100%;
	height:auto;}
	

#wrapper #head .top .TopLogo .tel{
	background:url("//www.chinaszsh.com/images/HituxCMSLord/tel.png") no-repeat 0px 30px;
	width:220px;
	height:80px;
	padding-top:12px;
	} 
	
@media only screen and (max-width: 1320px){
#wrapper #head .top .TopLogo .tel{
	display: none!important;}
	}
	
#wrapper #head .top .TopLogo .tel .telW{
	padding-left:60px;
	padding-top:12px;
	font-size:1.3rem;
	color:#eeeeee;
	letter-spacing:normal;}	
#wrapper #head .top .TopLogo .tel .telN{
	padding-left:60px;
	padding-top:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.8rem;
	color:#eeeeee;
	font-weight:normal;
	line-height:100%;}



/*navs*/
@media only screen and (max-width: 645px){
#wrapper #head #NavLink{
	background:#212121;
	height:74px!important;}
#wrapper #head #NavLink .NavBG{
	height:35px!important;}
#wrapper #head #NavLink #sddm {
	filter: alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;}
#wrapper #head #NavLink #sddm li a{
	line-height:35px!important;
	font-size:1rem!important;}
#wrapper #head #NavLink #sddm li{
	background:#212121!important;
	width:25%!important;
	font-weight:normal!important;}
	}
@media only screen and (max-width: 855px) and (min-width: 645px){
#wrapper #head #NavLink{
	background:#212121;}
#wrapper #head #NavLink .NavBG{}
#wrapper #head #NavLink #sddm {
	filter: alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;}
#wrapper #head #NavLink #sddm li a{
	font-size:1.1rem!important;}
#wrapper #head #NavLink #sddm li{
	background:#212121!important;
	width:14.2%!important;
	font-weight:normal!important;}
	}

#wrapper #head #NavLink{
	width:100%;
	height:45px;
	margin:auto;
	position:relative;
	padding-bottom:0px;
	z-index:100;}
#wrapper #head #NavLink .NavBG{
	width:100%;
	max-width:100%;
	height:45px;
	background:#242424;
	position:absolute;
	z-index:100;}
		
#wrapper #head #NavLink #sddm{
	width:100%;
	margin:auto;
	z-index:30;
	display: flex;
	flex-wrap: wrap;}

#wrapper #head #NavLink #sddm li{
	width:12%;
	float: left;
	font-weight:bold;}
#wrapper #head #NavLink #sddm .CurrentLi a{
	background:none;
	}	
#wrapper #head #NavLink #sddm li a
{	display: block;
	color: #FFF;
	text-align: center;
	padding:0 0px;
	line-height:45px;
	font-size:1.1rem;
	border-left:1px solid #333333;}

#wrapper #head #NavLink #sddm li a:hover
{	text-decoration:none;
	background:#F90;
}

#wrapper #head #NavLink #sddm div
{	position: absolute;
	visibility: hidden;
	background:#242424;
	padding:0px 0px;
	filter: alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	}

#wrapper #head #NavLink #sddm div a{	
		width:200px;
		position: relative;
		text-align: left;
		padding-left: 10px;
		background:#242424;
		color: #FFFFFF;
		font-size:1.1rem;
		font-weight:bold;
		text-decoration:none;
		line-height:45px;
		border-top:1px solid #333333;
		filter: alpha(opacity=100);
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
}

#wrapper #head #NavLink #sddm div a:hover{
	background: #F90;
	line-height:45px;
	}

	
#wrapper #body{
	width:100%;
	margin:auto;
	}
/* albumblock*/

 .albumblock{
	padding:10px 10px 30px 15px;
	float:left;
	}
 .albumblock .inner{
	width:250px;
	height:250px;
	position:relative;
	border:1px solid #666666;
	overflow:hidden;}

.albumblock .inner img{
	width:250px;
	height:250px;	}
@media only screen and (max-width: 600px){
.albumblock .inner, .albumblock .inner img{
	width:150px!important;
	height:150px!important;}
 .albumblock{
	padding:5px!important;}
	}

 .albumblock .inner .albumtitle{
	height:40px;
	line-height:40px;
	font-size:1.2rem;
	background:#000000;
	position:relative;
	bottom:40px;
	left:0;
	color:#FFFFFF;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
	font-weight:normal; 
	text-align:center;
	cursor:pointer;
	margin:auto;
	overflow:Hidden;
	}
 .albumblock .inner .albumtitle span{
	font-weight:normal;
	font-size:1rem;}

 .albumblock .inner  a{
	 color:#FFFFFF;}
  .albumblock .inner  a:hover{
	text-decoration:none;}
 .albumblock .inner  a:visited{
	text-decoration:none;}	
	
 .albumblock .inner:hover{
	border:1px solid #196ba7;}	
	

/*footer*/
/*footer*/
#footer{
	position:relative;
	width:100%;
	height:100%;
	padding-bottom:40px;
	font-size:1rem;
	color:#FFFFFF;
	background:#2E2E2E ;
	z-index:10;
}
#footer a{
	color:#FFFFFF;}										
#footer .inner{
	border-top:1px solid #666666;
	margin:auto;
	width:100%;
	padding-top:40px;
	text-align:left;
	}

#footer .inner .InnerLeft{
	float:left;
	padding-left:15px;}
#footer .inner .InnerRight{
	float:right;
	padding-top:20px;
	padding-right:20%;
}

#footer .inner .InnerRight .tel{
	background: url("//www.chinaszsh.com/images/HituxCMSNote/tel_bottom.jpg") no-repeat 0px 0px;
	height:50px;
	width:20%;
	padding-left:180px;
	color:#FFF;
	font-size:2rem;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;}

	
#footer .inner p{
	line-height:25px;}

#footer .inner .BottomNav{
	width:100%;
	margin:auto;
	height:30px;
	line-height:30px;
	color:#FFF;
	background:#000000 url("//www.chinaszsh.com/images/HituxCMSNote/nav_bg2.png") repeat-x center -5px;
}

#footer .inner .BottomNav a{
	color:#0076c1;
	padding:0px 10px;}



#dark_footer .box_240px_left {
	width:220px;
	padding-right: 20px;
	padding-top: 0px;
	background-image: none;
	padding-bottom:0px;
	float:left;
}
#dark_footer .box_240px_left h2{
	font-size:1.2rem;
	color:#F5F5F5;
	font-weight:normal;
	padding-bottom:10px;}
#dark_footer .box_240px_left h2 a{
	color:#F5F5F5;}
#dark_footer .box_240px_left li{
	color:#666666;
	line-height:250%;
	font-size:1.1rem;}
#dark_footer .box_240px_middle {
	padding: 0px 42px;
	background-image: none;
}
#dark_footer .box_240px_right {
	padding-left: 42px;
	padding-top: 0px;
	background-image: none;
}
#dark_footer_wrap {
	border-top:5px solid #006FB6;
	background-color:#1d1d1d;
	overflow: hidden;
	padding:20px;
}
#dark_footer {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 0px;
	overflow: hidden;
	color:#FFF;
	display: flex;
    justify-content: center;
}
@media only screen and (max-width: 768px){
#dark_footer {
	justify-content: flex-start!important;
	}
#dark_footer .right{
	display: none!important;}
	}

#light_footer_wrapper {
	font-size:1rem;
	padding:10px;
	height:100px;
	
}
.box_240px_right li {
	display: inline;
}
#dark_footer li a{
	color:#666666;}


#wrapper  .t_page{
	padding:10px;
	text-align:center;
	font-size:1.1rem;
	line-height:25px;
	color:#f3f3f3
	}	
#wrapper  .t_page a{
	padding:2px 5px;
	border:1px solid #666666;
	margin:0px 3px;}	


/* date css*/		
 .header {font: 12px Arial, Tahoma !important;font-weight: bold !important;font: 11px Arial, Tahoma;font-weight: bold;color: #154BA0;background:#C2DEED;height: 25px;padding-left: 10px;
}
 .header td {padding-left: 10px;}
 .header a {color: #154BA0;}
 .header input {background:none;vertical-align: middle;height: 16px;}
 .category {font: 12px Arial, Tahoma !important;font: 11px Arial, Tahoma;color: #92A05A;height:20px;background-color: #FFFFD9;}
 .category td {border-bottom: 1px solid #DEDEB8;}
 .expire, .expire a:link, .expire a:visited {color: #FFFFFF;}
 .default, .default a:link, .default a:visited {color: #FFFFFF;}
 .checked, .checked a:link, .checked a:visited {color: #FF0000;}
 .today, .today a:link, .today a:visited {color: #00BB00;}
 #calendar_year {display: none;line-height: 130%;background: #FFFFFF;position: absolute;z-index: 10;}
 #calendar_year .col {float: left;background: #FFFFFF;margin-left: 1px;border: 1px solid #86B9D6;padding: 4px;}
 #calendar_month {display: none;background: #FFFFFF;line-height: 130%;border: 1px solid #86B9D6;padding: 4px;position: absolute;z-index: 11;}
 #year,#month{padding:0 10px;background:#fff;}	

/* SearchBar */

.SearchBar {
	width:250px;
	height:32px;
}

.Sbox .SearchBar{
	margin:0px 0px 0px 0px;}

.SearchBar #search-text {
	background-color:#FFFFFF;
	width: 170px;
	height:30px;
	padding:0px;
 	margin:0px;
	color:#333;
	line-height:30px;
	font-size:1.16rem;
	border:1px;
	padding-left:5px;
	font-family:Arial, Helvetica, sans-serif;
	border-radius: 0;}

.SearchBar #search-submit {
	border:1px;
	background:#535353;
	font-size:1.25rem;
	color: #F90;
	height:auto;
	margin:0px;	
	cursor:pointer;
	padding:0px;
	line-height:32px;
	width:70px;
	-webkit-appearance: none;
}
/* search content */
#search_content .searchtip{
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	BORDER-bottom: #023848 1px solid;
	padding-top:10px;
}

#search_content .result_list{
	padding:10px 10px;
	width:100%;}
	
#search_content .result_list dt{
	font-size:1.16rem;
	font-weight:bold;
	padding-top:10px;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;}	

#search_content .result_list dd{
	padding:0 0 5px 0;
	margin:0px;
	line-height:20px;
	}	

#search_content .result_list .line {
	BORDER-bottom: #E9E8E8 1px dashed;}	

#search_content .result_list .line a{
	padding-right:20px;}

#search_content .result_list .line a:hover{
	text-decoration:none;}			
	
#search_content .search_welcome{
	line-height:25px;
	text-align:center;
	}
#search_content .search_welcome p{
	text-align:center;}		
#search_content .result_page{
	text-align:center;
	font-size:1.1rem;
	padding:10px;}

#search_content .result_page span{
	font-size:1rem;
	font-family:arial;
	padding:0 5px;
	}	






/*service*/
.qqbox a:link {
	color: #000;
	text-decoration: none;
}
.qqbox a:visited {
	color: #000;
	text-decoration: none;
}
.qqbox a:hover {
	color: #f80000;
	text-decoration: underline;
}
.qqbox a:active {
	color: #f80000;
	text-decoration: underline;
}
.qqbox {
	width:132px;
	height:auto;
	overflow:hidden;
	position:absolute;
	right:0;
	color:#000000;
	font-size:1rem;
	letter-spacing:0px;
	z-index:500;
}
@media only screen and (max-width: 850px){
.qqbox {
	display: none!important;}
	}

.qqlv {
	width:33px;
	height:256px;
	overflow:hidden;
	position:relative;
	float:right;
	z-index:50;
}
.qqkf {
	width:120px;
	height:auto;
	overflow:hidden;
	right:0;
	top:0px;
	z-index:99;
	border:6px solid #cc0000;
	background:#fff;
}
.qqkfbt {
	width:118px;
	height:20px;
	overflow:hidden;
	background:#cc0000;
	line-height:20px;
	font-weight:bold;
	color:#fff;
	position:relative;
	border:1px solid #fff;
	cursor:pointer;
	text-align:center;
}
.qqkfhm {
	width:112px;
	height:22px;
	overflow:hidden;
	line-height:22px;
	padding-right:8px;
	position:relative;
	margin:3px 0;
}
.bgdh {
	width:102px;
	padding-left:10px;
}
#K1 {
	padding-left:3px;
}
#K1 p{
	padding:5px 0px;}	


#HituxBackTop_item {
	width: 60px;
	height: 100px;
	position: fixed;
	right: 15px;
	bottom: 20%;
	z-index: 990;
	display: none;
}
#HituxBackTop_item.off {
	opacity: 0;
	visibility: hidden
}
#HituxBackTop {
	display: block;
	width: 60px;
	height: 50px;
	background: url(//www.chinaszsh.com/images/icon_top.png) center center no-repeat;
	background-color: #444;
	border-radius: 2px;
	cursor: pointer;
	margin-bottom: 10px;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
}
#HituxBackTop:hover {
	background-color: rgba(0,0,0,.7)
}
#HituxBackTop:active {
	background-color: rgba(0,0,0,.75)
}
#HituxBackTop_item .qr {
	display: block;
	color:blue;
	width: 60px;
	height: 40px;
	border-radius: 2px;
	cursor: pointer;
	background: url(//www.chinaszsh.com/images/icon_code.png) center center no-repeat;
	background-color: #444;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
}
#HituxBackTop_item .qr:hover {
	background-color: rgba(0,0,0,.7)
}
#HituxBackTop_item .qr:active {
	background-color: rgba(0,0,0,.75)
}
#HituxBackTop_item .qr-popup {
	width: 170px;
	height: 200px;
	background: #fff;
	box-shadow: 0 1px 8px rgba(0,0,0,.1);
	position: absolute;
	left: -180px;
	bottom: 0;
	border-radius: 2px;
	display: none;
	text-align: center;
	color:#FFFFFF;
}
#HituxBackTop_item .qr-popup .code-link {
	display: block;
	margin: 10px;
	color: #777
}
#HituxBackTop_item .qr-popup .code {
	display: block;
	margin-bottom: 10px
}
#HituxBackTop_item .qr-popup .arr {
	width: 6px;
	height: 11px;
	background: url(//www.chinaszsh.com/images/code_arrow.png) 0 0 no-repeat;
	position: absolute;
	right: -6px;
	bottom: 14px
}


/*HituxSer*/
.HituxSer{
	position:fixed;
	right:0;
	width:142px;
	position:fixed;
	z-index:999;
}
.HituxSer_con p{
	padding:5px 0px;}

.HituxSer_tab{
	width:160px;
}
.icon_HituxSer{
	width:26px;
	height:100px;
	float:left;
	background:url(//www.chinaszsh.com/images/HituxSer.png) 0 0;
	position:relative;
	display:none;
	cursor:pointer;
}
.HituxSer_box{
	float:left;
	width:142px;
}
.HituxSer_box b{
	font-size: 1.16rem;
	color: #d5242e;
	line-height: 30px;
}
.HituxSer_tab img{ display:block;}
.HituxSer_head{
	width:142px;
	height:115px;
	font-size:0;
	line-height:0;
	position:relative;
	background-image: url(//www.chinaszsh.com/images/HituxSer_kf1.jpg);
	background-repeat: no-repeat;
}
.HituxSer_close:link,.HituxSer_close:visited{ display:block; width:11px; height:11px; background:url(//www.chinaszsh.com/images/HituxSer.png) -42px 0; position:absolute; top:5px; right:5px;}
.HituxSer_close:hover{ background-position:-60px 0;}
.HituxSer_con{
	padding-top:15px;
	background:#fbfbfb;
	border-right-width: 6px;
	border-left-width: 6px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #d5242e;
	border-left-color: #d5242e;
}
.HituxSer_con li{
	height:23px;
	background-image: url(//www.chinaszsh.com/images/HituxSer_webQQ.jpg);
	background-repeat: no-repeat;
	width: 114px;
	line-height: 23px;
	background-position: 14px center;
	text-indent: 50px;
	margin-bottom: 10px;
}
.HituxSer_con li a{
	color: #1a649d;
}
.HituxSer_con .ww{
	background-image: none;
	padding-left: 20px;
	margin: 0px;
}
.HituxSer_con .weixin{
	height:120px;
	line-height: 120px;
	background-image: none;
	margin: 0px;
	padding-left: 10px;
}
.HituxSer_con .bt{ font-size:16px; height:30px; line-height:30px; text-align:left; padding:0 0 0 20px; color:#012646;}
.HituxSer_bot{
	border-right-width: 6px;
	border-bottom-width: 6px;
	border-left-width: 6px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #d5242e;
	border-bottom-color: #d5242e;
	border-left-color: #d5242e;
	background-color: #FFF;
	text-align: center;
	padding-bottom: 15px;
}
.HituxSer_bot b{
	font-size: 18px;
	color: #d5242e;
}
.HituxSer_bot em{
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
}


/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; 
	overflow:hidden; }
	
